body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(235, 238, 242)
}

#add{
    color:blue;
    text-align: center;
}

#search{
    padding: 5px;
    margin: auto;
    margin-bottom: 20px;
    outline: 4px solid black;
    width: 30%;
}

input{
    display: block;
    text-align: left;
    margin: auto;
    width:  80%;
}

#welcome{
    padding: 5px;
    display: block;
    float: right;
    background-color: rgb(182, 188, 188);
    margin-right: 10px;
    text-align: center;
}

#email{
    font-size: 10px;
}

 #beer-warning{
    padding: 20px;
    margin:  auto;
    width:  30%;
    text-align: center;
}

h1{
    font-size: x-large;
    text-align: center;
    margin-bottom: 30px;
 }

.navbar-nav {
    width:  100%;
    margin: 0;
} 

#name, #landing-message{
    text-align: center;
}

#photo{
    position: relative;
}