.input-card {
    margin-top: 5px;
    width: 40%;
    box-shadow: rgba(0, 35, 35, 0.35) 1px 1px ;
    text-align: center;
    margin: auto;
    background-color:rgb(244, 190, 11);
    border-radius: 5px;
}

button{
    margin-bottom: 5px;
    border-radius: 5px;
    color: white;
    background-color: black;
    width: 110px;
} 

p{
    margin: 5px;
    text-align: left;
    font-size: 15px;
    color:grey;
}

textarea{
    width:80%;
}
